<table mat-table [dataSource]="items">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>TYPE</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="artist">
    <th mat-header-cell *matHeaderCellDef>ARTIST</th>
    <td mat-cell *matCellDef="let element">{{ element.artist }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>DETAILS</th>
    <td mat-cell *matCellDef="let element">
      <a mat-stroked-button [routerLink]="['mtgcard', element.id]">Details</a>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="['id', 'name', 'type', 'artist', 'details']"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['id', 'name', 'type', 'artist', 'details']"
  ></tr>
</table>
